<div class="lg:hidden">
  <div class="flex items-center justify-between bg-gray-50 border-b border-gray-200 px-4 py-1.5">
    <div class="flex justify-start lg:w-0 lg:flex-1">
      <a href="/app-overview">
        <span class="sr-only">Convolute</span>
        <img class="w-auto h-8" src="/src/images/convolute-logo.svg" alt="Convolute logo">
      </a>
    </div>
    <div>
      <button @click="open = true" type="button" class="-mr-3 h-12 w-12 inline-flex items-center justify-center rounded text-gray-500 hover:text-gray-900">
        <span class="sr-only">Open sidebar</span>
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
</div>
